language: csharp
matrix:
  include:
    - os: linux
      dist: xenial
      sudo: required
branches:
  only:
  - master
  - develop
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1
    - DOTNET_CLI_TELEMETRY_OPTOUT=1
mono: latest
dotnet: 2.2.205
script:
  - ./build.sh